@font-face {
  font-family: "Pragmatica Light";
  src:
    local("Pragmatica Light"),
    url("../fonts/Pragmatica Light/pragmaticaLight.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}