/****************\
        core
       styles
\****************/
html {
    height: 100%;
}
body {
    font-family: "Pragmatica Light", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
}
.clr-white {
    color: white;
}
.clr-black {
    color: black;
}
.clr-main {
    color: #5cc5c4;
}
.clr-white:hover, .clr-white:active, .clr-white:visited {
    color: white;
    text-decoration: none;
}
.clr-black:hover, .clr-black:active, .clr-black:visited {
    color: black;
    text-decoration: none;
}
.clr-main:hover, .clr-main:active, .clr-main:visited {
    color: #5cc5c4;
    text-decoration: none;
}

/****************\
        main
       styles
\****************/
/***** header *****/
header {
    width: 100%;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bck_2.png);
    border-bottom: 7px solid #d5cfc0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.logo {
    height: 100px;
}
/***** body *****/
::selection {
    background: #eee; /* Safari, Chrome, Opera */
}
::-moz-selection {
    background: #eee; /* FireFox */
}
main {
    width: 100%;
    height: auto;
    background-image: url(../images/bck_2.png);
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
}
article {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}
    /*article 0*/
    .art__0 {
        background-color: #5cc5c4;
        background-image: url(../images/bck_1.png);
        background-position: 50% 50%;
        background-repeat: repeat;
        background-size: cover;
    }
    .art__wrapper {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .art__wrapper > * {
        text-align: center;
    }
    .art-0__logo-1 {
        width: 6vw;
        margin-bottom: .3vw;
    }
    .art-0__logo-2 {
        width: 16vw;
        margin: 35px 0 60px;
    }
    .art-0__logo-3 {
        width: 20vw;
    }
    .art-0__text-1 {
        font-size: 2vw;
        line-height: 1.2em;
    }
    .art-0__text-2 {
        font-size: 1vw;
    }
    .art-0__text-3 {
        font-size: 1.77vw;
        margin: 30px 0;
    }
    .art-0__link {
        font-size: 1vw;
    }
    .art-0__phone{
        font-size: 1.2vw;
    }


/***** footer *****/
footer {
    height: auto;
    min-height: calc(100vh - 334px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #44c6bf;
}
footer h2 {
    color: #1f7c78;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
    margin-top: 150px;
    margin-bottom: 100px;
}
footer h3 {
    color: #e2e2e2;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
footer h4 {
    color: #e2e2e2;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 100px;
}
.flex {
    display: flex;
}
footer .label {
    white-space: normal;
}
/* mail form */
.single-input input,.single-input textarea {
    background: #f0efef;
    border: 1px solid #e2e2e2;
    height: 45px;
    width: 100%;
    padding-left: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: initial;
}
.single-input textarea {
    height: 130px;
    padding-top: 15px;
}
.single-input textarea:focus {
    outline: #e2e2e2;
}
.single-input input{
    background: #f0efef;
    border-bottom: 1px solid #fff;
    color: #6c6c6c;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.single-input input:focus{
    /*border-bottom: 1px solid #80b7c5;*/
    outline: #e2e2e2;
}
.single-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6c6c6c;
}
.single-input input::-moz-placeholder { /* Firefox 19+ */
  color: #6c6c6c;
}
.single-input input:-ms-input-placeholder { /* IE 10+ */
  color: #6c6c6c;
}
.single-input input:-moz-placeholder { /* Firefox 18- */
  color: #6c6c6c;
}
.button{
    margin-top: 20px;
}
footer .button a{
    border: 1px solid #ffffff;
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 5px;
    padding: 10px 35px;
    text-transform: uppercase;
    background: #6c6c6c;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 400;
    font-size: 16px;
}
/*add checkbox for feedback*/
.skin_feedback {
    justify-content: flex-start;
    margin-left: 50px;
}
.skin_feedback input[type="checkbox"] {
    display: none;
}
.skin_feedback label {
    position: relative;
    cursor: pointer;
    color: #ffffff;
}
.skin_feedback label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -44px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.skin_feedback input[type="checkbox"]:checked ~ label::before {
    width: 21px;
    height: 10px;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}
.skin_feedback_bottom label::before {
    border: 2px solid #80b7c5;
}
.label{
    font-style: normal;
}
/* social */
.social {
    margin: 50px 0;
}
.social a {
    margin-right: 10px;
}
/**************************************
            	MADIA
***************************************/
/*mobile < 576px*/
@media (max-width: 575.98px) {
    article {
        height: auto;
    }
	.art {
        flex-direction: column;
        align-items: center;
    }
    .art__wrapper {
        height: 100vh;
        width: 100%;
    }
        /*article 0*/
        .art-0__logo-1 {
            width: 20vw;
            margin-bottom: 1.3vw;
        }
        .art-0__logo-2 {
            width: 47vw;
            margin: 20vw 0 25vw;
        }
        .art-0__logo-3 {
            width: 50vw;
        }
        .art-0__text-1 {
            font-size: 6vw;
            line-height: 1.2em;
        }
        .art-0__text-2 {
            font-size: 5vw;
        }
        .art-0__text-3 {
            font-size: 4.6vw;
            margin: 30px 0;
        }
        .art-0__link {
            font-size: 5vw;
        }
        .art-0__phone{
            font-size: 5.2vw;
        }
}
/*576px < mobile landscape, tablet < 768px*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
/*768px < mobile landscape, tablet < 1280px*/
@media (min-width: 768px ) and (max-width: 1280px) {
	
}